0 */12 * * * curl --silent http://localhost/clublog/upload &>/dev/null
10 */12 * * * curl --silent http://localhost/qrz/upload &>/dev/null
30 */12 * * * curl --silent http://localhost/qrz/download &>/dev/null
20 */12 * * * curl --silent http://localhost/eqsl/sync &>/dev/null
40 */12 * * * curl --silent http://localhost/hrdlog/upload &>/dev/null
0 1 1 * * curl --silent http://localhost/lotw/lotw_upload &>/dev/null     
10 1 1 * * curl --silent http://localhost/update/lotw_users &>/dev/null
20 1 * * 1 curl --silent http://localhost/update/update_clublog_scp &>/dev/null
0 2 1 */1 * curl --silent http://localhost/update/update_sota &>/dev/null
10 2 1 */1 * curl --silent http://localhost/update/update_wwff &>/dev/null
20 2 1 */1 * curl --silent http://localhost/update/update_pota &>/dev/null
0 3 1 */6 *  curl --silent http://localhost/update/update_dok &>/dev/null
# 0 5 * * * curl --silent https://localhost/backup/adif/ &>/dev/null
# 10 5 * * * curl --silent https://localhost/backup/notes/ &>/dev/null
# 20 5 * * * root find /var/www/html/backup -name 'logbook_*' -o -name 'notes_*' -type f -printf '%T@ %p\n' | sort -k1,1nr | awk 'NR>30 {print $2}' | xargs rm -f"